<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <dl>
      <form action="" method="post">
        <div>
          <dt><%=num%>. <%=title%></dt>
          <img src="/quetion/0<%=code%>.png" alt="My Image">
          <dd>1.<%=num1%></dd>
          <dd>2.<%=num2%></dd>
          <dd>3.<%=num3%></dd>
          <dd>4.<%=num4%></dd>
          <dd>정답:<%=answ%></dd>
          <input type="text" name="ans" >
          <button id="btn" type="submit">입력</button>
        </div>
    </dl>
  </body>
</html>
